<?xml version="1.0"?>
<model>
  <name>Tiny Trainer</name>
  <version>1.0</version>
  <sdf version='1.5'>tiny_trainer.sdf</sdf>

  <author>
   <name>James Goppert</name>
   <email>jgoppert@purdue.edu</email>
  </author>

  <description>
    This is a model of the flite test tiny trainer.
  </description>
</model>
