<?xml version="1.0"?>
<model>
  <name>Mini Fixedwing Team 10</name>
  <version>1.0</version>
  <sdf version='1.6'>mini_fixedwing_10.sdf</sdf>

  <author>
   <name>Team 10</name>
  </author>

  <description>
	A mini fixedwing designed by Team 10, AAE 451 senior design, Spring 2020.
  </description>
</model>
