<?xml version="1.0"?>
<launch>
    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="worlds/mini_fixedwing_fleet.world"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="true"/>
        <arg name="paused" value="true"/>
        <arg name="respawn_gazebo" value="false"/>
    </include>
</launch>
