<?xml version="1.0"?>
<model>
  <name>Mini Fixedwing Team 12</name>
  <version>1.0</version>
  <sdf version='1.6'>mini_fixedwing_12.sdf</sdf>

  <author>
   <name>Team 12</name>
   <name>ZP Yang</name>
   <email>yang1272@purdue.edu</email>
  </author>

  <description>
	A mini fixedwing designed by Team 12, AAE 451 senior design, Spring 2020.
  </description>
</model>
