<?xml version="1.0"?>
<model>
  <name>t12</name>
  <version>1.0</version>
  <sdf version='1.5'>mini_fixedwing_12.sdf</sdf>

  <author>
   <name>ZP Yang</name>
   <email>yang1272@purdue.edu</email>
  </author>

  <description>
    This is a model of the pylon racer airplane for aae451 senior design class
  </description>
</model>
